insight_matrix show page


<%= @insight_matrix.name %>

<%= simple_form_for [@insight_matrix, @insight] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<% if @insights.present? %>
  <div class="matrix">
    <%= simple_form_for @insight_matrix do |f| %>

      <% count = 0 %>
      <% @insight_matrix.insight_relationships.each_slice(@insights.count) do |row| %>
        <br />
        <% row.each_with_index do |ir, index| %>
          <% if ir.id && (count > index) %>
            <%= fields_for "insight_matrix[insight_relationships_attributes][#{ir.id}]" do |ff| %>
              <%= ff.select(:value, 0..3, {selected: ir.value}) %>
              <%= ff.hidden_field(:target_id, {value: ir.target_id}) %>
              <%= ff.hidden_field(:source_id, {value: ir.source_id}) %>
              <%= ff.hidden_field(:id, {value: ir.id}) %>
            <% end %>
          <% elsif count == index %>
            <%= fields_for "insight_matrix[insight_relationships_attributes][#{ir.id}]" do |ff| %>
              <%= ff.select(:value, 0..3, {selected: 3}) %>
              <%= ff.hidden_field(:target_id, {value: ir.target_id}) %>
              <%= ff.hidden_field(:source_id, {value: ir.source_id}) %>
              <%= ff.hidden_field(:id, {value: ir.id}) %>
            <% end %>
          <% end %>
        <% end %>
        <% count += 1 %>

      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>

<table>
  <thead>
    <th></th>
    <% @insights.each do |i| %>
    <th><%= i.name %></th>
    <% end %>
  </thead>
  <tbody>
    <% @insights.each do |insight| %>
    <tr>
      <td><%= insight.name %></td>
      <% (1..@insights.length).to_a.each do %>
      <td>Dropdown!</td>
      <% end %>
      <td>
        <%= link_to 'Delete Insight', '', method: :delete, data: { confirm:"Are you sure?" }, class:"btn btn-mini btn-danger"   %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
