<h1>Insight Matrix</h1>
<%= link_to "view all matrices", insight_matrices_path %>

<table class="matrix">
	<thead>
		<th></th>
		<% @insights.each do |i| %> <!-- creates a loop to create the grid	-->
			<th class="diag"><%= i.name %></th>
		<% end %>
	</thead>
	<tbody>
		<% @insights.each_with_index do |insight, row_index| %>
			<tr>
				<td><%= insight.name %></td>
				<% (0..@insights.length - 1).to_a.each do |col_index| %>
					<td class="<%= 'same' if row_index == col_index %>">
						<% if col_index  == row_index %>
							<%= select_tag "people", options_for_select([0,1,2,3], 3) %>
						<% elsif col_index < row_index %>
							<%= select_tag "people", options_for_select([0,1,2,3], 0) %>
						<% end %>
					</td>
				<% end %>
				<td> <!-- from here down to the next end creates the delete button -->
					<%= link_to 'Delete Insight', "", method: :delete, data: { confirm:"Are you sure?" }, class:"btn btn-mini btn-danger"   %>
				</td>
			</tr>
		<% end %>
</table>

 <!-- the line below creates the add insinght button  -->
<%= link_to 'Add Insight', "", class:"btn btn-mini btn-info" %>

